.main {
	width: : 100%;
	height: 100%;
	
}

.warp {
	    height: 100%;
    position: relative;
    width: 1400px;
    margin: 4% auto;
    background: #fff;
    border: 5px ridge #E1E1E1;
}

.p {
	margin: 0;
	padding: 0;
}
#productList_1{
	    margin-top: 30px;
}

.product_2 {
	width: 500px;
	height: 500px;
	border: 2px solid blue;
}

.exhibition_vis {
	
	
}

.exhibition_vis_line {
	padding: 0;
	margin: 0;
}

.i_p{
	position: relative;
    top: -530px;
    left: 215px;
    bottom: 0;
    right: 0;
}

.exhibition_soldout.type3 {
    background-size: 100%;
}

.exhibition_infor {
    margin-top: 15px;
    text-align: left;
}

.products {
	    width: 600px;
    height: 600px;
    display: inline-block;
    margin: 0 0 30px 38px;
}

.p1{
	text-align: center;
    width: 600px;
    height: 550px;
    border: 1px;
    border: #dbdcdb 1px solid;
}

b, strong {
    font-weight: bolder;
    float: right;
}

.p1 > img, .exhibition_infor >.exhibition_tit{
	cursor: pointer;
}

.exhibition_infor >.exhibition_tit:hover{
	
color: white;
    text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}










