<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cartMapper">

<select id="selectCartList"  resultType="Cart" >

select *
from cart
where id = #{loginUserId}

<!-- select *
from member
where userid = #{loginUserId} -->

</select>

	<resultMap type="Cart" id="CartResultMap">
		<id property="cNo" column="CNO"/>
		<result property="cName" column="CNAME"/>
		<result property="cAmount" column="CAMOUNT"/>
		<result property="cPrice" column="CPRICE"/>
		<result property="cCreateDate" column="CCREATEDATE"/>
		<result property="p_id" column="P_ID"/>
		<result property="id" column="ID"/>

	</resultMap>
	

	<update id="updateAmount" parameterType="map" >
	
	
	update cart
	set camount = #{amount}
	where cno = #{no}
	
	</update>
	
	<delete id="delCart" parameterType="String">
	
	delete cart
	where cno = #{cNo}
	
	</delete>
	
	
	<select id="cartPaymentList" resultType="Cart" parameterType="map">
	
	select *
	from cart
	where cno in
	<foreach collection="totalArr" item="tArr" index="index"  open="(" close=")" separator=",">
	#{tArr}
	</foreach>

		
	
	</select>
	
	<select id="insertPayment" parameterType="map">
	
INSERT INTO PAYMENT_PRODUCT( PNO,PPNO,PNAME,PAMOUNT,PPRICE,PCREATEDATE,ID,TOTALPRICE,P_IMG)
SELECT SEQ_PRODUCT.NEXTVAL AS PNO,<foreach collection="hitPno" item ="hit" index="index">#{hit}||seq_payProduct.currval</foreach> 
AS PPNO,CNAME,CAMOUNT,CPRICE,SYSDATE AS PCREATEDATE ,ID,
<foreach collection="total" item ="tt" index="index">#{tt}</foreach>
 AS TOTALPRICE,C_IMG
FROM CART
WHERE CNO in
	<foreach collection="totalArr" item="tArr" index="index"  open="(" close=")" separator=",">
	#{tArr}
	</foreach>
	
	
	</select>
	
	
	<select id="PaymentInsertDB" parameterType="Payment">
	
INSERT INTO PAYMENT VALUES(SEQ_PAYMENT.NEXTVAL,#{userid},#{p_id} ||TO_CHAR(seq_payProduct.nextval),#{payname},#{payphone},#{paycellphone},#{payemail},#{receiverName},#{receiverPhone},#{receiverCellPhone}
,#{payprice},#{orderMemo},to_char(sysdate,'yyyy/mm/dd - hh24:mi:ss'),#{delivaryDate},#{payrecipe},#{payaddress},default,#{paytext},sysdate,#{p_num},#{p_img})
	
	</select>
	
	
	<delete id="delCartNum" >
	
	DELETE FROM CART 
	WHERE CNO IN
	<foreach collection="totalArr" item="tArr" index="index"  open="(" close=")" separator=",">
	#{tArr}
	</foreach>
	
	</delete>
	
	<select id="selectPayList" resultType="Payment">
	SELECT *
	FROM PAYMENT

	
	
	
	</select>
	
	
	<select id="selectPaySearch" resultType="Payment">
	SELECT *
	FROM PAYMENT
	where pstatus !='x'
	
  			<if test="searchForm.equals('allSearch')">
  			
  			and ( p_id like '%' || #{searchInput} || '%' or userid like '%' || #{searchInput} || '%'  or payname like '%'|| #{searchInput} || '%' or paycellphone like '%'|| #{searchInput} || '%' or payphone like '%'|| #{searchInput} || '%' or paytext like '%'|| #{searchInput} || '%' )
			
		
  			
  			</if>
  			
  			<if test="searchForm.equals('Paynum')">
  			
  			and p_id like '%'||  #{searchInput}|| '%'
  			
  			</if>
  			
  			<if test="searchForm.equals('PayName')">
  			
  			and PAYTEXT like '%' || #{searchInput} || '%'
  			
  			</if>
  		
  			<if test="searchForm.equals('PayID')">
  			and USERID like '%' || #{searchInput} || '%'
  			
  			</if>
  			
  			
  			<if test="searchForm.equals('Payphone')">
  			and PAYPHONE like '%' || #{searchInput} || '%' or PAYCELLPHONE like '%' || #{searchInput} || '%'
  			
  			</if>
  			<if test="searchForm.equals('PayUserName')">
  			and PAYNAME like '%' || #{searchInput} || '%' or PAYCELLPHONE like '%' || #{searchInput} || '%'
  			
  			</if>
  			
  			  			
  			<if test="startDatePicker!=''">
  				
  			and CHECKDATE between '${startDatePicker}' and  to_date('${endDatePicker}')+1
  			</if> 
  			
  			<if test="ready !=null">
  			and PSTATUS = 'Y'
  			
  			</if>
  			<if test="ing !=null">
  			and PSTATUS = 'R'
  			
  			</if>
  			<if test="end !=null">
  			and PSTATUS = 'E'
  			
  			</if>

	
	</select>
	<update id="updateStatus">
	update  payment
	set pstatus = #{check}
	where  p_id = #{id}
	</update>
	
	
	<insert id="insertPayProduct" parameterType="PayProduct">
	
	INSERT INTO PAYMENT_PRODUCT VALUES(SEQ_PRODUCT.NEXTVAL,#{ppno}||TO_CHAR(seq_payProduct.currval) ,#{pname},#{pamount},#{pprice},sysdate,#{id},#{totalprice},#{p_img})
	
	</insert>
	
	
	<insert id="CartInsert" parameterType="Cart">
	
	INSERT INTO CART VALUES(seq_cart.nextval,#{cName},#{cAmount},#{cPrice},sysdate,#{p_id},#{id},#{c_img})
	
	</insert>
	
	<update id="UpdateProductCount">
	
	update product
	set p_count = p_count+#{cAmount} , P_QUANTITY =P_QUANTITY- #{cAmount}
	where p_id =  #{p_id}
		
	
	</update>

<!-- 	<update id="UpdateCartCount"  parameterType="java.util.List">


		<foreach item="item"  collection="list" >
	update product
	set p_count = p_count+#{item.cAmount} , P_QUANTITY =P_QUANTITY- #{item.cAmount}
	where p_id =  #{item.p_id}
		</foreach>



	</update> -->
	<select id="countPay" resultType="_int">
	
	select count(*) from payment
	
	</select>
	
	
	<select id="PayMoney" resultType="_int">
	
	select COALESCE(sum(payprice),0) from payment 

	</select>
	
	<select id="PayToday" resultType="_int">
	
		select COALESCE(sum(payprice),0) from payment 
        where  TO_CHAR(CHECKDATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')

	</select>
	
	<select id="PayMonth" resultType="_int">
	select COALESCE(sum(payprice),0) from payment 
        where checkdate between TRUNC(sysdate,'MM')  and sysdate
	</select>
	
	
	<select id="MemberSecession" resultType="_int">
	select count(*) 
	from member
	where status='N'
	
	</select>
	
		<select id="MemberBlack" resultType="_int">
	
	select count(*) 
	from member
	where status='B'
	</select>
	
		<select id="MemberAll" resultType="_int">
	select count(*) 
	from member
	where status='Y'
	
	</select>
	
	<select id="ProductCount" resultType="_int">
	select count(*)
	from product
	where p_sell ='Y'
	
	
	</select>
	
	<select id="ProductStop" resultType="_int">
	select count(*)
	from product
	where p_sell ='N'
	
	
	</select>
	
	
	<select id="ProductSoldOut" resultType="_int">
	 <![CDATA[
	select count(*)
	from product
	where p_sell ='N' and P_QUANTITY <1 
	]]>
	
	</select>
	
	<select id="selectBuyList" resultType="PayProduct">
	
	select *
	from PAYMENT_PRODUCT
	where PPNO = #{modal}
	
	
	</select>
	
	
	<select id="ProductCountdo" resultType="_int">
	select  COALESCE(sum(P_COUNT),0)
	from product
	where p_sell ='Y' and P_LUNCHTYPE='도시락'
	
	
	</select>
	
		<select id="ProductCountsel" resultType="_int">
	select COALESCE(sum(P_COUNT),0)
	from product
	where p_sell ='Y' and P_LUNCHTYPE='샐러드'
	
	
	</select>
	
	

</mapper>
