<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myOwnMapper">
	
	<insert id="insertIngredient" parameterType="Ingredient">
		insert into ingredients
		values(INGREDIENTS_SEQ.NEXTVAL,#{inName},#{inType},#{inGram},#{inPrice},default,default,#{inOriginalFile},#{inRenameFile})
	</insert>
	
	
	<resultMap type="Ingredient" id="IngredientAllList">
		<id property="inNo" column="IN_NO"/>
		<result property="inName" column="IN_NAME"/>
		<result property="inType" column="IN_TYPE"/>
		<result property="inGram" column="IN_GRAM"/>
		<result property="inPrice" column="IN_PRICE"/>
		<result property="inCreateDate" column="IN_CREATEDATE"/>
		<result property="status" column="STATUS"/>
		<result property="inOriginalFile" column="IN_ORIGINALFILE"/>
		<result property="inRenameFile" column="IN_RENAMEFILE"/>
	</resultMap>
	
	
	<select id="selectAll" resultMap="IngredientAllList">
		select *
		from ingredients
		where STATUS = 'Y'
	</select>
	
	<update id="deleteIn" parameterType="_int">
		update ingredients
		set status = 'N'
		where in_no = #{inNo}
	</update>
	
	<select id="searchList" parameterType="map" resultMap="IngredientAllList">
		select *
		from ingredients
		where STATUS = 'Y'
		<choose>
			<when test="type.equals('재료번호')">
				and in_no = #{sContent}
			</when>
			<when test="type.equals('재료명')">
				and in_name like '%' || #{sContent} || '%'
			</when>
		</choose>
	</select>
	
	<select id="searchOne" parameterType="int" resultMap="IngredientAllList">
		select *
		from ingredients
		where status = 'Y' and in_no = #{inNo}
	</select>
	
	<update id="updateIn" parameterType="Ingredient">
		update ingredients
		set in_name=#{inName}, in_type=#{inType}, in_gram=#{inGram}, in_price=#{inPrice}, in_originalfile=#{inOriginalFile}, in_renamefile=#{inRenameFile}
		where in_no = #{inNo} and status = 'Y'
	</update>
	
</mapper>