<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<select id="getListCount" resultType="_int">
		select count(*)
		from notice
		where status = 'Y'
	</select>
	
	<resultMap type="Notice" id="noticeResultSet">
		<id property="nNo" column="NNO"/>
		<result property="id" column="ID"/>
		<result property="nTitle" column="NTITLE"/>
		<result property="nContent" column="NCONTENT"/>
		<result property="nCount" column="NCOUNT"/>
		<result property="status" column="STATUS"/>
		<result property="nDate" column="NDATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="nickName" column="NICKNAME"/>
	</resultMap>
	
	<resultMap type="NoticeComments" id="commentsReulstSet">
		<id property="Comments_No" column="COMMENTS_NO" />
		<result property="Comments_Content" column="COMMENTS_CONTENT" />
		<result property="nNo" column="NNo" />
		<result property="UserId" column="USERID" />
		<result property="Comments_Date" column="COMMENTS_DATE" />
		<result property="NickName" column="NICKNAME" />
		<result property="Comments_Status" column="COMMENTS_STATUS" />
	</resultMap>
	
	<select id="selectList" resultMap="noticeResultSet">
		select *
		from notice
		where status = 'Y'
		order by NNO desc
	</select>
	
	<update id="updateCount" parameterType="_int">
		update notice
		set ncount = ncount + 1
		where nNo = #{nNo}
	</update>
	
	<select id="selectOne" parameterType="_int" resultMap="noticeResultSet">
		select *
		from notice
		where nNo= #{nNo} and status='Y'
	</select>	
		
	<!-- 게시글 작성  -->
	<insert id="insertNotice"  parameterType="Notice">
		insert into notice values(seq_nno.nextval, #{id}, #{nTitle}, #{nContent}, 
      default, default, sysdate, sysdate, #{nickName})
	</insert>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteNotice">
		delete from notice
		where nNo = #{nNO}
	</delete>
	
	<!-- 수정  페이지 -->
	<select id="updateNoticePage" parameterType="_int" resultMap="noticeResultSet">
		select *
		from notice
		where nNo = #{nNo} and status='Y'
	</select>
	
	<!-- 수정 update -->
	<update id="updateNotice" parameterType="Notice">
		update notice
		set nTitle=#{nTitle}, nContent=#{nContent}, MODIFY_DATE=sysdate
		where nNo = #{nNo}
	</update>
	
	<!-- 게시글 검색 개수 -->
	<select id="searchBoardCount" resultType="_int">
		select count(*) from notice n
		join member m on (n.id = m.userId)
		where n.status = 'Y'
		<choose>
			<when test="writer != null">
				and m.userId like '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				and nTitle like '%' || #{title} || '%'
			</when>
			<otherwise>
				and nContent like '%' || #{content} || '%'
			</otherwise>			
		</choose>
	</select>
	
	<!-- 검색 -->
	<select id="searchBoardList" resultType="java.util.HashMap" parameterType="java.util.List">
		select * from notice n
		join member m on (n.id = m.userId)
		where n.status = 'Y'
		<choose>
			<when test="writer != null">
				and m.userId like '%' || #{writer} || '%'
			</when>
			<when test="title != null">
				and nTitle like '%' || #{title} || '%'
			</when>
			<otherwise>
				and nContent like '%' || #{content} || '%'
			</otherwise>			
		</choose>
		order by nNo desc
	</select>
	
	<!-- 댓글 -->
	<select id="selectCommentList" parameterType="_int" resultMap="commentsReulstSet">
	select *
	from noticecomments nc
	join notice n on(nc.nno = n.nno)
	where COMMENTS_STATUS ='Y' and nc.nno = #{Comments_No}
	order by Comments_No desc
	</select>
	
	<!-- 댓글 insert  -->
	<insert id="insertComment" parameterType="NoticeComments">
      insert into noticecomments
      values(seq_Comments_No.nextval, #{Comments_Content}, #{nNo}, #{UserId} , sysdate, default, #{nickName})
  	</insert>
  	
  	<!-- 댓글 delete  -->
  	<update id="deleteComment">
		update NOTICECOMMENTS 
		set COMMENTS_STATUS = 'N'
		WHERE COMMENTS_NO = #{comments_no}
	</update>
	
	
	<update id="updateComent">
			update NOTICECOMMENTS
			set COMMENTS_CONTENT = #{Comments_Content}
			where COMMENTS_NO = #{Comments_No}
	
	
	</update>
	
  
</mapper>
