<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">
	<select id = "selectProductList" resultType="Product" >
		select *
		from PRODUCT
		where P_STATUS ='Y'
	</select>

	<select id ="selectProductList1" resultType="Product">
		select *
		from PRODUCT
		where p_STATUS = 'Y' and p_sell = 'Y'
	</select>


	<insert id="insertProduct" parameterType="map">
		insert  all
			into Product 
			values(SQL_P_ID.NEXTVAL, #{p_name}, #{P_CONTENT}, SYSDATE,SYSDATE, DEFAULT, #{P_QUANTITY},  #{P_LUNCHTYPE} , #{P_PRICE} , DEFAULT, DEFAULT)
			<foreach collection="" item="item" index="index">
				into PICTURELIST values(
					SQL_PT_ID.NEXTVAL,
					#{PT_REALPATH},
					#{PT_NAME},
					#{PT_REALNAME},
					SYSDATE,
					SYSDATE,
					SQL_P_ID.currval,
					DEFAULT
				) 
			</foreach>
	</insert>
	
	<resultMap type="Product" id="ProductList">
		<id property="p_Id" column ="P_ID"/>
		<result property="p_name" column="P_NAME"/>
		<result property="p_content" column="P_CONTENT"/>
		<result property="p_createDate" column="P_CREATEDATE"/>
		<result property="p_updateDate" column="P_UPDATEDATE"/>
		<result property="p_like" column="P_LIKE"/>
		<result property="p_quantity" column="P_QUANTITY"/>
		<result property="p_lunchtype" column="P_LUNCHTYPE"/>
		<result property="p_price" column="P_PRICE"/>
		<result property="p_sell" column="P_SELL"/>
		<result property="p_status" column="P_STATUS"/>
		
	</resultMap>
	<!-- 상품 리스트 검색 -->
	<select id="searchList" parameterType="map" resultMap="ProductList">
		select *
		from PRODUCT
		where P_STATUS = 'Y'
		<choose>
			<when test="type.equals('상품번호')">
				and P_ID like '%' || #{sContent} || '%'
			</when>
			<when test="type.equals('상품명')">
				and P_NAME like '%' ||  #{sContent}|| '%'
			</when>
		</choose>
		
	</select>
	
	<update id="deletedProduct" parameterType="_int">
		update product
		set P_STATUS ='N'
		where P_ID = #{p_Id}
	</update>
	
	<!-- 상품 상태 변경 -->
	<update id="updatePsell" parameterType="_int">
		update product
		set P_SELL ='N'
		where P_ID = #{p_Id}
	</update>
	
	<update id="updatePsell2" parameterType="_int">
		update PRODUCT
		set P_SELL = 'Y'
		where P_ID =#{p_Id}
	</update>
	
</mapper>