@charset "UTF-8";

.image {
		width: 600px;
		height: auto;
	}
	
	#userName {
		width:300px;
		height:30px;
		font-size:15px;
		margin-right:12px;
	}

	.loginForm {
		text-align:center;
	}
	
	#logo {
		margin-bottom:50px;
	}
	
	a {
		color:darkgray;
	}
	
	a:hover{
		color:black;
	}
	
	#email {
		width:300px;
		height:30px;
		font-size:15px;
		margin-right:12px;
	}
	
	#idFindBtn {
		width:82px;
		height:82px;
		background-color: black;
		border: none;
    	color: white;
    	padding: 15px 32px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
    	cursor: pointer;
	}
	
	
	.find input{
		font-size:13px;
		padding:5px;
		margin-left: 15px;
	}
	
	.find input:first-child{
		margin-left: 0;
	}
	
	input [type=button] {	
		background-color: #e7e7e7;
		color: black;
		border-radius:0px;
		
	}
	
	.button4 {
		background-color: black;
    	border: none;
    	color: black;
   		text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
    	cursor: pointer;
    	
	}
	.button4.green{
		background: black;
	}
	
	#naverlogin {
		border-radius:0px;
		background:#009900;
		color:white;
		width:108px;
	}
	.bu {
   width: 75px;
   background: #2ecc71;
   border: 1px solid #fff;
   text-transform: uppercase;
   font-weight: bold;
   color: #fff;
}

.bu:hover {
   color: #2ecc71;
   background: #fff;
   border: 1px solid #2ecc71;
   left: -35%;
   top: 0;
   transition-duration: 1s;
   transform-origin: top left;
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
   height: 100%;
}