@charset "UTF-8";

.image {
	width: 600px;
	height: auto;
}

#naverlogin {
	border-radius: 0px;
	background: #009900;
	color: white;
	width: 185px;
	height: 30px;
	margin: 12px;
}

#userId {
	width: 180px;
	height: 30px;
	font-size: 15px;
	margin: 12px;
}
#userPwd {
	width: 180px;
	height: 30px;
	font-size: 15px;
	margin: 12px;
}

#checkBtn {
	width: 15px;
	height: 15px;
}

.log_tb .find {
	width: 65px;
	height: 10px;
}

.loginForm {
	text-align: center;
}

#loginBtn {
	background-color: black;
	color: white;
	border-radius: 5px;
}

.find {
	margin: 5px;
	padding: 5px;
}

#logo {
	margin-bottom: 50px;
}

a {
	color: darkgray;
}

a:hover {
	color: white;
}
.bu {
   width: 75px;
   background: #2ecc71;
   border: 1px solid #fff;
   text-transform: uppercase;
   font-weight: bold;
   color: #fff;
}

.bu:hover {
   color: #2ecc71;
   background: #fff;
   border: 1px solid #2ecc71;
   left: -35%;
   top: 0;
   transition-duration: 1s;
   transform-origin: top left;
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
   height: 100%;
}